html{
    scroll-behavior: smooth;
}

body{
    transition: 300ms;
    background-color:#e8f5e9;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/*for all paragraphs*/
p{
    text-transform: none;
}

/* for the h1*/
h1{
    font-size: 60px;
}

/* for all h2*/
h2{
    font-size: 50px;
}

/*for navbar*/
nav{
    text-transform: uppercase; 
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav .brand-logo img{
    height: 65px;
}

nav .nav-wrapper .brand-logo{
    text-transform: none;
    margin-left: 13px;
}

.dropdown-content{
    width: 150px !important;
    height: 205px !important;
}

#nav-bar{
    transition: top 0.3s;
}

/*for carousel in index*/
#projects{
    scroll-margin-top: 40px;
    margin-bottom: 30px;
}

.image{
    max-width:100%;
}

/*for parallax in projects*/
#second-parallax{
    margin-bottom: 15px;
}

/*for all cards*/
#us{
    scroll-margin-top: 60px;
    margin-top: 30px;
}

/*for cards in index*/
.card{
    border-radius: 5px;
}

.container .row h2{
    font-size: 30px;
    vertical-align: middle;
}

.container .row h1{
    vertical-align: middle;
}

/*for card in the first project*/
.first-project{
    background-image: url(../img/overwatch2.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

/*for card in the second project*/
.second-project{
    background-image: url(../img/tic-jeu-sam2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*for card in the third project*/
.third-project{
    background-image: url(../img/tic-jeu-sam1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/
footer{
    width: 100%;
    bottom: 0;
    position: relative;
}

/* contact form */
#contact-us{
    height: 450px;
}

/*for easter egg heart chad Antoine <3*/
#heart{
    color: red;
}

#heart-red{
    display: none;
}